<div class="page-header">
  <h1>Match #<%= @match.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Merchant</dt>
  <dd><%= @match.merchant_id %></dd>

  <dt>Rfp</dt>
  <dd><%= @match.rfp_id %></dd>

</dl>
