<div class="page-header">
  <h1>Match #<%= @match.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Merchant</dt>
  <dd><%= @match.merchant.business_name %></dd>

  <dt>Rfp</dt>
  <dd><%= @match.rfp.full_diamond_trait %></dd>

</dl>
